<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2>Game review</h2>

    <div data-th-unless="${#strings.isEmpty(result)}">
        <p data-th-text="${result}"></p>
    </div>

    <form action="#" data-th-action="@{/review}" method="post" data-th-object="${review}">
        User: <input type="text" data-th-field="*{user}">
        <br>


        Rating: <select data-th-field="*{rating}">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
        <br>

        Comment:<input type="text" data-th-field="*{comment}">
        <br>
        Game Id:<input type="text" data-th-field="*{gid}">
        <br>
        <button type="submit">Review</button>
        
    </form>
    
</body>
</html>